pyTelegramBotAPI==4.16.1
requests==2.31.0
urllib3==2.2.1
certifi==2024.7.4
idna==3.7
charset-normalizer==3.3.2

# Core AI
numpy==1.26.4
pandas==2.2.3
Flask==3.0.2

# OCR (CPU ONLY)
pillow==10.4.0
pytesseract==0.3.10
opencv-python-headless==4.10.0.84 
